/* start variables */
:root{
    --main-color:#10cab7;
    --secondary-color:#2c4755;
    --section-padding:60px;
    --section-background:#f6f6f6;

}
/* end variables */
/* start global rules*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin: 20px;
}
/* small */
@media ( min-width:768px){
    .container{
        width: 750px;
        margin: auto;
    }
}
/* madium */
@media
(min-width:992px) {
    .container{
        width: 970px;
    margin: auto;
    }
}  
 /* large */
@media (min-width:1200px){
    .container{
        width: 1170px;
        margin: auto;
    }
} 
html{
    scroll-behavior: smooth;
}
/* end global rulse */
/* start components */
.special-heading{
    color: #ebeced;
    text-align: center;
    font-size: 100px;
    font-weight: 800;
    margin: 0;
}
.special-heading + p{
      color: #797979;
    margin: -30px 0 0;
    text-align: center;
    font-size: 20px;
    letter-spacing: -2px;
    
}
@media (max-width: 767px){
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p{
        margin-top: -20px;
    }
}
/* end   components */
/* start header */
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.header .container .logo{
    width: 60px;    
}
.header .links{
    position: relative;
    
}
.header .links:hover ul{
    display: block;
}
.header .links:hover .icon span:nth-child(2){
    width: 100%; 
}
.header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span{
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
.header .links .icon span:first-child{
width: 100%;
}
.header .links .icon span:nth-child(2){
width: 60%;
transition: 0.3s;
}
.header .links .icon span:last-child{
width: 100%;
}
.header .links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background: #f6f6f6;
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    min-width: 200px;
    display: none;
    z-index: 1;
}
.header .links ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent hsl(0deg 100% 25% / 0%) #f6f6f6 #ffff0000;
    position: absolute;
    top: -20px;
    right: 5px;
}

.header .links ul li a{
display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}
.header .links ul li a:hover{
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
    border-bottom:1px solid #ddd;
}

/* end   header */
/* start landing section */
.landing{
    background-image: url(../images/pexels-pixabay-355770.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .intro-text{
position:absolute ;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
width: 320px;
max-width: 100%;
}
.landing .intro-text h1{
margin: 0%;
font-size: 50px;
font-weight: bold;
color:var(--main-color) ;
text-align: center;
}
.landing .intro-text p{
font-size: 19px;
line-height: 1.8;
}
/* end landing section */
/* start features */
.features{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #f6f6f6;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
.features .feat{
    padding: 20px;
    text-align: center;
}
.features .feat h3{
font-weight: 800;
margin: 30px 0;
}
.features .feat p{
line-height: 1.8;
color: #777;
}
/* end features *
/* start services */
.services{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    }
    .services .services-content{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 30px;
        margin-top: 100px;
}
.services .services-content .srv{
    display: flex;
    margin-bottom: 40px;
}
@media (max-width:767px){
    .services .services-content .srv{
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content .srv i{
    color: var(--main-color);
    flex-basis: 60px;
}
.services .services-content .srv text{
    flex: 1;
}.services .services-content .srv .text h3{
    margin: 0 0 20px;
}
.services .services-content .srv .text p{
color: #444;
font-weight: 300;
line-height: 1.6;
}
.services .services-content .imge{
text-align: center;
position: relative;
}
.services .services-content .imge::before{
content: '';
background-color: #2c4755;
width: 100px;
height: 130%;
position: absolute;
top:-17%;
right: 10%;
z-index: -1;
}
.services .services-content .imge img{
    width: 170px;   
}
@media(max-width:767px){
    .services .services-content .imge{
        display: none;
    }
}
/* end   services */
/* start portfolio */
 .portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color:  var(--section-background);
 }
 .portfolio .portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
 }
 .portfolio .portfolio-content .card{
     background-color: white;
 }
 .portfolio .portfolio-content .card img{
     max-width: 100%;
 }
 .portfolio .portfolio-content .card .info{
     padding: 20px;
 }
 .portfolio .portfolio-content .card .info h3{
     margin: 0;
 }
 .portfolio .portfolio-content .card .info p{
     color: #777;
     line-height: 1.6;
 }
 /* end portfolio */
 /* start about */
 /* end about */
 .about{
     padding-top: var(--section-padding);
     padding-bottom: var(--section-padding);
 }
 .about .about-content{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between ;
 }
 @media(max-width:1200px){
   .about .about-content{
    flex-direction: column;
    text-align: center;
   }  
 }
 .about .about-content .image{
     position: relative;
     width: 313px;
     height: 343px;
 }
 @media(max-width:1200px){
    .about .about-content .image{
        margin: 0 auto 60px;
    }
 }
 .about .about-content .image::before{
    content: '';
    position: absolute;
    background-color:#ebeced;
    width:30% ;
    height: calc(100% + 40px);
    top: -35px;
    left: -20px;
    z-index: -1;
 }
 .about .about-content .image::after{
    content: '';
    position: absolute;
    width: 30%;
    height: 60%;
    border-left: #10cab7 solid 70px;
    border-bottom: #10cab7 solid 70px;
    z-index: -1;
    left: 280px;
    top: -30px;
 }
 @media(max-width:1200px){
    .about .about-content .image::before,
    .about .about-content .image::after{
        display: none;
    }
}  
  
 .about .about-content .image img{
     max-width: 100%;
 }
  .about .about-content .text{
     flex-basis: calc(100% - 600px);
 }
 .about .about-content .text p:first-of-type{
     font-weight:800;
     line-height: 2;
     color: #2c4755;
     margin-bottom: 50px;
 }
 .about .about-content .text hr{
    border-color: #10cab7;
    width: 50%;
    display: inline-block;
 }
 .about .about-content .text p:last-of-type{
    line-height: 2;
    color: #777;
 }
/* end about */
/* start contact */
.contact{
    background-color: #f6f6f6;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.contact .info{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;

}
.contact .info .label{
    font-weight:800;
    font-size: 30px;
    letter-spacing: -2px;
    color: #2c4755;
    margin-bottom: 15px;
}
.contact .info .link{
    display: block;
    color: #10cab7;
    text-decoration: none;
    margin-bottom: 15px;
    font-weight: 800;
    font-size: 30px;
    letter-spacing: -2px;
}
.contact .info .social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 14px;
    color: var(--secondary-color);
    letter-spacing: -1px;
}
.contact .info .social i{
    margin-left: 15px;
   
}
@media(max-width:767px){
    .contact .info .label,
    .contact .info .link{
        font-size: 25px;
    }
}
/* end  contact */
/* start footer */
.footer .text{
    background-color: var(--secondary-color);
    height: 70px;
    text-align: center;
    margin-top: 15px;
    padding: auto;
    color: white;
    font-size: 18px;
    font-weight: 800;
    padding-top: 25px;
}
.footer .text span{
    color: #10cab7;
    font-weight: 700;
}
@media(max-width:767px){
    .footer .text{
        font-size:12px;
        
    }
}
/* end footer */




    














